<mat-card class="example-card" flex-gt-sm="90" flex-gt-md="80">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>YMLD Movie Theater</mat-card-title>
    <mat-card-subtitle>Introduction</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/img/YMLD-Logo.png" alt="YMLD Logo">
  <mat-card-content align="left">
    <p>
      The Your Momma Loves Drama application demonstrates how
      Apache Derby can be integrated into a Scala application.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
