<mat-sidenav-container class="all-wrap" fullscreen>
  <mat-sidenav mode="side" opened="true" #sidenav class="mat-elevation-z6">
    <mat-toolbar color="primary">
     <a routerLink="/"> <div mat-card-avatar class="example-header-image">
      </div></a>
    </mat-toolbar>
    <mat-toolbar color="primary">
      <span flex></span>
      <div layout="column" class="mat-toolbar-tools-bottom inset">
        <span></span>
        <!--<user-avatar></user-avatar>-->
        <div>Håvard Semundseth</div>
        <div>havard.semundseth@ymld.com</div>
      </div>
    </mat-toolbar>

    <!-- Sidebar, select element -->
    <mat-nav-list>
      <mat-list-item ng-repeat="item in menu">
        <a routerLink="/performances">
          <div>
            <mat-icon mat-list-icon>local_movies</mat-icon>
            Performances
          </div>
        </a>
      </mat-list-item>
      <mat-list-item ng-repeat="item in menu">
        <a routerLink="/seatpricing">
          <div>
            <mat-icon mat-list-icon>local_play</mat-icon>
            Seat Pricing
          </div>
        </a>
      </mat-list-item>
      <mat-list-item ng-repeat="item in menu">
        <a routerLink="/seatmap">
          <div>
            <mat-icon mat-list-icon>weekend</mat-icon>
            Seat Map
          </div>
        </a>
      </mat-list-item>
      <mat-list-item ng-repeat="item in menu">
        <a routerLink="/introduction">
          <div>
            <mat-icon mat-list-icon>info</mat-icon>
            Introduction
          </div>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h4 mat-subheader>Management</h4>
      <mat-list-item ng-repeat="item in admin">
        <!--<a routerLink="http://www.vg.no">-->
        <a routerLink="/purchase">
          <div>
            <mat-icon mat-list-icon>local_grocery_store</mat-icon>
            Purchase Tickets
          </div>
        </a>
      </mat-list-item>
      <mat-list-item ng-repeat="item in admin">
        <a routerLink="/log">
          <div>
            <mat-icon mat-list-icon>view_list</mat-icon>
            Transaction Log
          </div>
        </a>
      </mat-list-item>
      <mat-list-item ng-repeat="item in admin">
        <a routerLink="/settings">
          <div>
            <mat-icon mat-list-icon>settings</mat-icon>
            Settings
          </div>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar color="primary" class="mat-elevation-z6">
        Your Momma Loves Drama
      </mat-toolbar>
    </header>
    <main class="content">
      <!--<router-outlet></router-outlet>-->
      <span></span>
      <div aria-labelledby="tab1" align="center">
        <!--<mat-card class="example-card" flex-gt-sm="90" flex-gt-md="80">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Your Momma Loves Drama Movie Theater</mat-card-title>
            <mat-card-subtitle>Introduction</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../assets/img/YMLD-Logo.png" alt="YMLD Logo">
          <mat-card-content align="left">
            <p>
              The Your Momma Loves Drama application demonstrates how
              Apache Derby can be integrated into a Scala application.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>-->
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</mat-sidenav-container>

<!--<app-root></app-root>-->
