/*
 * Import required theme for Material2
 */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

/*
 * Actual Sticky Footer Styles
 */
.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;}

> *:not(router-outlet) {
  flex: 1;
  display: block;
}


body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

$gray: #eee;

mat-sidenav.mat-default-theme {
  background-color: #eee;
}

mat-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

mat-card h2:first-of-type {
  margin-top: 0;
}

mat-toolbar.mat-button.mat-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.mat-toolbar-tools-bottom {
  font-size: small;
}

.mat-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

mat-toolbar:not(.md-hue-1),
.mat-fab {
  fill: #fff;
}

mat-sidenav {
  fill: #737373;
  width: 205px;
}

mat-sidenav mat-icon {
  position: relative;
  top: 5px;
  opacity: 0.65;
}

/*.user-avatar {
  border-radius: 99%;
}  left: 20px;
}*/

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  margin: 25px;
  width: 425px;

}

.example-header-image {
  background-image: url('../assets/img/YMLD-Logo.gif');
  background-size: cover;

}
